/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    --font-semi: 600;
    /*===== Colores =====*/
    --bg-color: #ffffff;
    --button-color: #3d94ff;
    --button-light-color: #bdbdbd;
    --black-color: #000000;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    padding-left: 10px;
    color: #fff;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    margin-bottom: 10px; /* Add space between components */
}

.sidebar a:hover {
    background-color: #555;
}

/* Content area styling */
.content {
    margin-left: 250px;
    padding: 20px;
}
.component{
    display: flex;
    flex: auto;
    margin: 30px;
}